<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Account</title>
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
    }


</style>
<link rel="stylesheet", href="css/main.css">
</head>
<body>

<div class="banner">
    <img src="img/kiit2.png" alt="Banner Image">
</div>

<div class="box">
    <img src="img/profile.png" alt="Profile_pic" width="80px">
    <h2>User Details</h2>
    <table>
        <tr>
            <th>Name</th>
            <td><%= user.student_name %></td>
        </tr>
        <tr>
            <th>Roll</th>
            <td><%= user.roll %></td>
        </tr>
        <tr>
            <th>Course</th>
            <td><%= user.course %></td>
        </tr>
        <tr>
            <th>Batch</th>
            <td><%= user.batch %></td>
        </tr>
        <tr>
            <!-- <td><button class="open-button" onclick="openIssue()">Issue</button></td> -->
            <td><button class="open-button" onclick="openReturn()">Return</button></td>
        </tr>
    </table>
</div>

<div class="box" style="top: calc(60px + 35px + 400px); width: 700px;"> <!-- Adjusted top position for the second box -->
    <h2>Book Issued List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Issue Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.book_name %></td>
                    <td><%= row.author %></td>
                    <td>30/4/2024</td>
                    <td>30/5/2024</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="form-popup" id="issueForm">
    <form action="/issueBook" method="post" class="form-container">
    <input type="hidden" name="rollNumber" value="<%= user.roll %>"> <!-- Hidden input field to pass the roll number -->
      <h1>Issue Book</h1>
  
      <label for="book_id"><b>Book ID</b></label>
      <input type="text" placeholder="Scan the book" name="book_id" required>

      <button type="submit" class="btn">Issue</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <div class="form-popup" id="returnForm">
    <form action="/returnBook" method="post" class="form-container">
    <input type="hidden" name="rollNumber" value="<%= user.roll %>"> <!-- Hidden input field to pass the roll number -->
      <h1>Return Book</h1>
      <label for="book_id"><b>Book ID</b></label>
      <input type="text" placeholder="Scan the book" name="book_id" required>

      <button type="submit" class="btn">Return</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
  <script>
    function openIssue() {
      document.getElementById("issueForm").style.display = "block";
    }
    function openReturn() {
      document.getElementById("returnForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("issueForm").style.display = "none";
      document.getElementById("returnForm").style.display = "none";
    }

    </script>
</body>
</html>